extends layout

block content
  h1= title

  p Set HUE lights depending on status - and on your presence in O365

  h3 Hue commander API

  p Last command: <b>#{lastCommand}</b>
  p 
  a(href='/api/status/occupied') Set status <b>Occupied</b> (/api/status/occupied)
  p
  a(href='/api/status/available') Set status <b>Available</b> (/api/status/available)
  p
  a(href='/api/status/away') Set status <b>Away</b> (/api/status/away)
  p
  a(href='/api/status/switch') <b>Switch</b> status light on/off (/api/status/switch)
  p
  a(href='/api/fan/on') Set Fan to <b>on</b> (/api/fan/on)
  p
  a(href='/api/fan/off') Set Fan to <b>off</b> (/api/fan/off)


  if !user
   p Login to Azure AD to set status based on presence
   a(href='/login') Log In
  else
   p You are #{user.displayName}
   a(href='/api/status/presence') Set status light based on o365 presence (/api/status/presence)
   

 
   
  
    