extends layout

block content
 <meta http-equiv="refresh" content="30" >
    
  h2 Continous refresh of status based on AD presence
    p Last command: #{lastCommand}
    p 
    a(href='/') Back
  
    